CHATGPT_API_KEY=sk-
CHATGPT_API_SERVER=https://gateway.ai.cloudflare.com/v1/xxxx/cloud-flare/openai
CHATGPT_ASSISTANT_ID=asst_NsynHp7d04qxs7xxxxxxxx
CHATGPT_ASSISTANT_INSTRUCTION=你是公司的服务员.你能准确的按步骤客户去处理各种问题
CHATGPT_ASSISTANT_MODEL=gpt-4-turbo-preview